.formBlock {
    position: absolute;
    width: 100vw;
    height: 71vh;
    top: 20vh;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.formItem {
    display: flex;
    align-items: center;

}

.checkboxBlock {
    display: flex;
}

.checkbox-container {
    display: flex;
    position: absolute;
    left: 30vw;
    font-size: 4vh;
    width: 68vw;
    /* align-items: center; */
    justify-content: space-between;
    /* column-gap: 7vw; */
    color: rgb(123, 17, 19);
    /* Use flexbox to arrange checkboxes horizontally */
}

.checkbox-container label {
    margin-right: 10px;
    /* Add some space between checkboxes */
}

.date-picker-button {
    width: 30vw;
    height: 6vh;
    cursor: pointer;
    background-color: #D9D9D9;
    color: rgb(123, 17, 19);
    /* border: 1px solid #007bff; */
    border-radius: 4px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.classStartDate {
    /* margin-left: 10vw; */
    display: flex;
    align-items: center;
    font-size: 3vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ClassDateBlock {
    display: flex;
    align-items: center;
}

.ClassStartTime {
    width: 20vw;
    height: 6vh;
    cursor: pointer;
    background-color: #D9D9D9;
    color: rgb(123, 17, 19);
    font-size: 3vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border: 1px solid #007bff; */
    border-radius: 4px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

#classStartTime {
    height: 6vh;
    width: 30vw;
}

.FormLabel {
    margin-left: 7vw;
    font-size: 5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(123, 17, 19);
}

.FormTextArea {
    position: absolute;
    left: 30vw;
    height: 5vh;
    width: 30vw;
    border-radius: 10px;
    background-color: #D9D9D9;
    border: none;
    font-size: 3vh;
    text-align: center;
    color: rgb(123, 17, 19);
}


#firstStartDate {
    position: absolute;
    left: 30vw;
}

#lastStartDate {
    position: absolute;
    left: 68vw;
}

#firstStartTime {
    position: absolute;
    left: 30vw;
    width: 30vw;
}

#lastStartTime {
    position: absolute;
    left: 68vw;
    width: 30vw;
}

input[type="checkbox"] {
    width: 5vh;
    /* Set your desired width */
    height: 5vh;
    accent-color: rgb(123, 17, 19);
    outline: 2px solid #D9D9D9;
    outline-offset: -2px;
}

.cbox {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1vw;
}

.to {
    position: absolute;
    left: 63.3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vh;
    color: rgb(123, 17, 19);
}