body {
    margin: 0;
    padding: 0;
}

.Bg {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.Bg::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../../assets/green_diagonal.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
}

p {
    margin: 0;
}

.Header {
    height: 20vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    column-gap: 1vw;
}

.BackIcon {
    height: 15vh;
    margin-left: 2vw;
    cursor: pointer;

}

.HeaderText {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 11vh;
    color: rgb(123, 17, 19);
    font-weight: bold;
    user-select: none;
}

.AppLogo {
    position: absolute;
    bottom: 1vh;
    right: 1vw;
    height: 8vh;
    pointer-events: none;
    user-select: none;
}

.fade-in {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease-in-out;
}

.fade-in.active {
    opacity: 1;
    visibility: visible;
}

.addButton {
    height: 8vh;
    width: 13vw;
    background-color: rgb(123, 17, 19);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vh;
    position: absolute;
    right: 2vw;
    border-radius: 20px;
}

#addFormErrors {
    position: absolute;
    top: 15vh;
    right: 2.5vw;
    color: rgb(123, 17, 19);
    font-size: 2.1vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#classList {
    position: absolute;
    top: 20vh;
    left: 0;
    height: 70vh;
    width: 100vw;
    overflow: auto;
    cursor: pointer;
}

.clickable:hover {
    transform: scale(1.03);
    /* Adjust the scale factor as needed */
    transition: transform 0.3s ease;
    /* Add a smooth transition effect */
}

#classList::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#classList {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


.classesBlock {
    display: flex;
    width: 100vw;
    justify-content: space-around;
}

.classMainBlock {
    position: absolute;
    left: 0;
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    row-gap: 8vh;
}

.clickable {
    height: 17vh;
    width: 25vw;
    background-color: rgb(123, 17, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vh;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    flex-direction: column;
}

.cell {
    text-align: center;
    vertical-align: middle;
}

.acadYearText {
    font-size: 3vh;
}