.RegisterButtonsBlock {
    position: absolute;
    top: 20vh;
    height: 71vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
    justify-content: center;
}

.RegisterButtons {
    width: 25vw;
    height: 15vh;
    background-color: rgb(123, 17, 19);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    border-radius: 20px;
}

.RegisterButtons:hover {
    transform: scale(1.05);
    /* Adjust the scale factor as needed */
    transition: transform 0.3s ease;
    /* Add a smooth transition effect */
}

.RegisterButtonsText {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4.5vh;
}